@font-face
{
    font-family: Martian;
    src:url(Font/MartianMono_Condensed-Bold.ttf);
}

/* ------- TEXT in Index -------*/

textPortFolio{
    
    padding-inline: 20px;
    padding-block:  20px;
    
    color: rgb(255, 255, 255);
    font-family:Martian;
    font-size: 54px;
    float: right;
    border: dotted 3px rgb(255, 255, 255);
    font-stretch: expanded
    
    
}

h2{
    
    font-family: Martian;
    color: white;
}

h4{
    
    text-align: center;
    background-color: rgb(182, 255, 169);
    font-family: Martian;
    font-size: 36px;

}

h3{
    font-size: 24px;
    padding-left: 30px;
    color: white;
    font-family: Martian;
}

h8
{

    margin-top: 20px;
    margin-bottom: 20px;
    
    text-align: left;
   
    background-color: aqua;
}

textfacebook{
    
   
    padding-left: 10px;

    
}
textinstagram{

    padding-left: 10px;
}

textInterested{

    margin-block: 20px;
    

}
textHobbies{

padding-left: 30px;
    

}





/* ------- Div in Index -------- */
        

        .flexbox {
            display: flex;
            box-sizing: border-box;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
            align-items: flex-end;
            margin-left: -10px;
            margin-right: -10px;
        }

        .item{
            
            display: block;
            box-sizing: border-box;
            width: 33.33%;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
        }

        .content {
            text-align: center;
            background-color: rgb(182, 255, 169);
            border: 2px solid black;
            padding: 17px;
        }
        #Project{
            text-align: center;
        }
        .content2{
            
            
            background-color: rgb(182, 255, 169);
            text-align: center;
            padding: 17px;
           
        }
        






body{

    background-image:  url("picture/Background.png");
}


#image1{
    
    
   
    width: 25%;
    border: 5px solid black;
    vertical-align: top;

}


.Name{
    
   text-align: left;
   margin-bottom: 100px;

}
.Resume{
    
    padding-top: 30px;
    padding-left: 10px;
    
    margin-bottom: 30px;
    padding-bottom: 200px;
    
}




.contactlist{

    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: left;
    background-color: aliceblue;
    margin-bottom: 10px ;


}


 


#button1
{
    
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: rgb(0, 255, 174);
    background-color: rgb(83, 76, 192);
    


}
#Project
{
    padding-right: 30px;
}

#FacebookIcon{
    
    transform: translateY(5px);
    width: 15%;
    
}

#InstagramIcon
{
    transform: translateY(10px);
    width: 15%;
}
#GitIcon{
    transform: translateY(10px);
    width: 15%;
}
#GamingIcon{

    margin-top: 30px;
    width: 100%

}
#DrawingIcon{

    margin-top: 30px;
    width: 80%;

}
#MayaIcon{

    margin-top: 30px;
    width: 80%;
}


/* CSS in Projects */ 

    /* All Div */

        .project_title
        {
            
            text-align: center;
            padding: 30px 0;
            
            background-color: rgb(182, 255, 169);
            margin-bottom: 40px;
            
        
        }

        .content3{
            background-color: rgb(182, 255, 169);
            text-align: center;
            padding: 17px;
            border: dashed 3px black;
        }
        .subtopic{

            text-align: center;
            background-color: rgba(169, 211, 255, 0.726);
            margin-top: 40px;
            margin-bottom: 40px;
            padding-block: 10px;

        }
        .subtopic2{
            text-align: center;
            background-color: rgba(169, 211, 255, 0.726);
            margin-top: 40px;
            margin-bottom: 40px;
            padding-block: 10px;
        }

            

         /* ALL Text */

            pProject{
                text-align: left;
                padding-left: 30px;
                font-size: 48px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
           
            }
            pTopic{

                
                font-size: 24px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
           
                
            }

            h5{
                font-size: 16px;
            }


        /* ALL ID */

        #ImageProjectMusic{

            margin-top: 10px;
            width : 50% 
        
        }
        #GameDevYear2
        {
            transform: translateY(-50px);
            padding-top: 95px;
            width: 100%;
            margin-top: 10px;
        }
        #Webdesign
        {
            width: 100%;
            margin-top: 10px;
            
        }
        #Gamemockup
        {
            width: 100%;
            margin-top: 10px;
        }
                      

            
            
            textArt1
            {
                text-align: left;
            }

            textArt2
            {
                text-align: left;
            }

            textArt3
            {

                text-align: left;
            }







