h1{
    
    background-color: white;
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 54px;
    
    
    
}


body{
    background-color: rgb(107, 176, 255);
}

div{
    text-align: center;
}

#image1{
    margin: auto;
    width: 25%;
    border: 5px solid black;
}

#image2{

    margin-top: 20px;
    width : 25% 

}
.name{
    
    text-align: center;
    background-color: azure;

}
.Resume{
    

    padding-left: 10px;
    text-align: left;
    background-color:  aliceblue;
    margin-bottom: 24px;
    padding-bottom: 5px;
    
}


.contactlist{

    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: left;
    background-color: aliceblue;
    margin-bottom: 10px ;


}

.project_title
{
    
    padding-left: 10px; 
    padding-right: 10px; 
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border: dashed 5px rgb(90, 90, 172)


}
 
h8
{

    margin-top: 20px;
    margin-bottom: 20px;
    
    text-align: left;
   
    background-color: aqua;
}

#button1
{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(58, 58, 58);
    background-color: rgb(240, 205, 205);
    


}
#Project
{
    padding-right: 30px;
}







